# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OneDrive - personalmicrosoftsoftware.uci.edu\SWE262\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
